<!DOCTYPE html>
<div class="header-wrapper">
    <div class="header">Dash Board</div>
    <div class="button"><button (click)="toggleTable()">{{status?'show':'hide'}} table</button></div>
</div>
<div class="table-wrapper" *ngIf="!status">
    <table class="table">
        <tr class="table-header">
            <th class="h1">Country</th>
            <th class="h2">Rate</th>
            <th class="h3">Refresh rate</th>
        </tr>
        <tr class="table-row" *ngFor="let el of states">
            <td class="c1">
                <div>{{el.name}}</div>
            </td>
            <td class="c2">
                <div ngClass="error : apiError">{{el.value |async}}</div>
            </td>
            <td class="c3"><button (click)="getUrl(el.name)">Refresh</button></td>
        </tr>
    </table>
</div>